
<div class="container">
  <h3>Please sign in</h3>

      <form class="bs-example bs-example-form" role="form">
        <span style="color:#FFCC66 ;font-style:italic;" id="warning">Incorrect username or password. Please try again.</span>
        <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="username" ng-model="username" >
        </div><br>
        <div class="input-group input-group-lg">
        <input type="password" class="form-control" placeholder="password" ng-model="password" >
        </div><br>

        <input type="button" value = "Login" class="btn btn-primary btn-lg" ng-click="login()"><br>

      </form>

</div>
    <script>
      $(document).ready( function() {
         if( window.location.href.indexOf('error=yes') < 0 ) {
            $('#warning').hide();
         }
      } );
    </script>
