
<nav class="navbar navbar-default" role="navigation">
   <div class=" pull right">
      <button class="navbar-brand"class="btn btn-link navbar-brand" >{{user.username}}</button>

      <a  class=" navbar-brand" ng-click = "logout()" >logout</a>

   </div>
   <div class = "pull left">
      <ul class="nav navbar-nav">
         <!-- <li><img ng-src="/photos/{{user.avatarIamage}}" class="img-circle" style = "max-width: 50px"></li> -->
         <li><a href="/#/editProfile">Edit my profile</a></li>
         <li><a href="/#/createUser">Create users</a></li>
         <li><a href="/#/browseAll">View all receipt</a></li>
      </ul>
   </div>

</nav>
		<div class="row">
		<div class="col-lg-4">
        <div class="pull left">
        	<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Search By
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="searchBy('name')">Name</a></li>
							<li><a ng-click="searchBy('email')">E-mail</a></li>
							<li class="divider"></li>
							<li><a ng-click="searchByAdmin()">Admin</a></li>
							<li><a ng-click="searchByUser()">User</a></li>
						</ul>
					</div><!-- /btn-group -->
					<input type="text" class="form-control" ng-model = "searchKeyWord">
				</div>
        </div>
        </div>
        </div>
        

        <div class="pull right">
          <a>User number per page</a>
          <select id = userPerPage ng-change = "setSize()" ng-model = "userPerPage">
            <option value=5>5</option>
            <option value=10>10</option>
            <option value=20>20</option>
          </select>
        </div>

   	<table class="table table-striped table-condensed table-hover">
      <caption> User List</caption>
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>ID</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
   	  <tr ng-repeat=" user in userList">
   	      <td><h4><b>{{user.username}}</b> </h4></td>
   	      <td>{{user.name}}</td>
   	      <td>{{user.id}}</td>
   	      <td>{{user.email}}</td>
   	      <td><p ng-repeat="tel in user.phone">{{tel}} </p></td>
   	      <td><h6> <span ><input type="checkbox" ng-model="user.admin" ng-click="updateRole(user.userName, user.userType)"></span> </h6></td>
    </tbody>
    <tfoot>
      <td colspan = "6">
      <div class="pull-right">
            
       
          <button class = "btn btn-primary btn-sm" ng-disabled = "responseContent.first" ng-class="{disabled: currentPage == 0}" ng-click="prevPage()">« Prev</button>
              
              
          <a>{{currentPage + 1}}/{{totalPage}}</a>
              
           
                    <div class="col-xs-5">
				              <div class="input-group">
					                   <span class="input-group-btn">
						                         <button class="btn btn-default" type="button" ng-click = "setPage()">
							                                Go to
						                        </button>
					                  </span>
					                  <input type="text" class="form-control" id = "targetPage">
				              </div><!-- /input-group -->
			              </div>
           <button class = "btn btn-primary btn-sm" ng-disabled = "responseContent.last" ng-class="{disabled: currentPage == totalPage-1}"ng-click="nextPage()">Next »</button>

            
      </div>
      </td>
    </tfoot>

    </table>
