
<nav class="navbar navbar-default" role="navigation">
   <div class=" pull right">
      <button class="navbar-brand"class="btn btn-link navbar-brand" >{{user.username}}</button>
      
      <a  class=" navbar-brand" href="/logout" >logout</a>
     
   </div>
   <div class = "pull left">
      <ul class="nav navbar-nav">
         <!-- <li><img ng-src="/photos/{{user.avatarIamage}}" class="img-circle" style = "max-width: 50px"></li> -->
         <li><a href="/#/editProfile">Edit my profile</a></li>
         <li><a href="/#/createUser">Create users</a></li>
         <li><a href="/#/browseAll">View all receipt</a></li>
      </ul>
   </div>

</nav>

        <div class="pull left">
        <input type="text" ng-model="query" class="input-large search-query" placeholder="Search">
            <button type="button" class="btn btn-primary" ng-click = "search()">Search</button>
        </div>

        <div class="pull right">
          <a>User number per page</a>
          <select id = userPerPage >
            <option value=5>5</option>
            <option value=10>10</option>
            <option value=20>20</option>
          </select>
        </div>

   	<table class="table">
      <caption> User List</caption>
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>ID</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
   	  <tr ng-repeat=" user in userList">
   	      <td><h4><b>{{user.username}}</b> </h4></td>
   	      <td>{{user.name}}</td>
   	      <td>{{user.id}}</td>
   	      <td>{{user.email}}</td>
   	      <td><p ng-repeat="tel in user.phoneNumbers">{{tel}} </p></td>
   	      <td><h6> <span ><input type="checkbox" ng-model="user.admin" ng-click="updateRole(user.userName, user.userType)"></span> </h6></td>
    </tbody>
    </table>
