
<div  class="modal-dialog" role="dialog">
    <div class="modal-content">
    	<div class="modal-header">
	        <h4 class="modal-title">Project Information</h4>
    	</div>
    	<div class="modal-body">
	      	<table class="profileTable" style="border-collapse:separate; border-spacing:0px 10px;">
		      	<tr>
		      		<td>Project Name</td>
		      		<td><input type="text" class="form-control" ng-model="newProject.name"></td>
		      	</tr>
		      	<tr>
		      		<td>Start Date</td>
		      		<td><input type="date" class="form-control" ng-model="newProject.startDate" ></td>
		      	</tr>
		      	<tr>
		      		<td>End Date</td>
		      		<td><input type="date" class="form-control" ng-model="newProject.endDate" ></td>
		      	</tr>
	      	</table>
    	</div>
	<div class="modal-footer">
				<button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="createProject()">Create</button>
    </div>
  </div>
</div>
