<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


<div  class="modal-lg" role="dialog">
    <div class="modal-content">
    	<div class="modal-header">
	        <h4 class="modal-title">Receipt Detail</h4>
    	</div>

    	<div class="modal-body">
	      	<table class="profileTable" style="border-collapse:separate; border-spacing:0px 10px;">
		      	<tr>
		      		<td>Time</td>
		      		<td><input id = "time" type="datetime-local" class="form-control" ng-model="receiptTime" ></td>
		      	</tr>
				<tr>
		      		<td>Location</td>
		      		<td><input id = "location"type="text" class="form-control" ng-model="receiptLocation" ></td>
		      	</tr>
            	<tr>
		      		<td>Project</td>
		      		<td><select id = "selectProject" class = "form-control" ng-model = "project" ng-options = "project as project.name for project in projectList track by project.id">
          				</select></td>
		      	</tr>
				<tr>
		      		<td><p style="margin-top:-10px;">Tags &nbsp;</p></td>
			  		<td><tags-input id = "finishedTags" ng-model="tags"></tags-input></td>
		      	</tr>
				<tr>
					<td><p style="margin-top:-10px;">Note &nbsp;</p></td>
					<td><input id = "note" type="text" class="form-control" ng-model="receiptNote" ></td>
		      	</tr>
				<tr id = "hideOne">
					<td>
					<button type="button" class="btn btn-xs btn-primary" ng-click="cancel()">Cancel</button>
					</td>
					<td>
					<button type="button" class="btn btn-xs btn-primary" ng-click="createReceipt()">Create</button> 
					</td>
				</tr>
				<tr>
				<td colspan="2">
				<div id = "hideTwo" style="display:none">
				<div class="form-inline well well-sm form">
    				<form class="form">
      					<div class="form-group">
        				<label for="photoFile">Image File</label>
        				<input id="photoFile" type="file" placeholder="image file">
      					</div>
						<div class="form-group">
      					<button type="button" class="btn btn-xs btn-primary" ng-click="upload()">Upload</button>
						<button type="button" class="btn btn-xs btn-primary" ng-click="noImage()">No Image</button> 
						</div>
    				</form>
  				</div>
				</div>
				</td>
			</tr>
            <tr id = "hideThree" style="display:none">
		      	<td><p style="margin-top:-10px;">Items</p></td>
					<td>
					<h5 style = "word-spacing: 140px;">Name Quantity Price</h5>
              			<div class="form-inline" ng-repeat = "item in items track by $index" style="margin-top:10px;">
    	          		<div class="form-group">
                    		<input class="form-control" ng-model="items[$index].name">
  		          		</div>
  		          		<div class="form-group">
    		            	<input  class="form-control" ng-model="items[$index].quantity">
                		</div>
		            	<div class="form-group">
    		            	<input   class="form-control" ng-model="items[$index].price">
                		</div>
                		<div class="form-group">
						<button type="submit" class="btn btn-info" ng-click="editItem.del($index)">update</button>
  		          		<button type="submit" class="btn btn-danger" ng-click="editItem.del($index)">delete</button>
                		</div>
	            		</div>
              		<button type="button" class="btn btn-info" ng-click="editItem.add()" style="margin-top:10px;">Add Item</button>
              		</td>

		      	</tr>
	      	</table>
    	</div>
  </div>
</div>
