
<div  class="modal-dialog" role="dialog">
    <div class="modal-content">
    	<div class="modal-header">
	        <h4 class="modal-title">Personal Information</h4>
    	</div>

    	<div class="modal-body">
	      	<table class="profileTable" style="border-collapse:separate; border-spacing:0px 10px;">

		      	<tr>
		      		<td>User Name</td>
		      		<td><input type="text" class="form-control" ng-model="newUserName"  disabled="disabled"></td>
		      	</tr>
		      	<tr>
		      		<td>Name</td>
		      		<td><input type="text" class="form-control" ng-model="newName" ></td>
		      	</tr>
		      	<tr>
		      		<td><p style="margin-top:-10px;">Phone Numbers&nbsp;</p></td>
		      		<td>
              	  <div ng-repeat = "phone in newPhoneNumber track by $index">
              	  	<div class="input-group">
                      <input type="text" class="form-control" ng-model="newPhoneNumber[$index]">
                      <div class="input-group-btn">
                      <button ng-click="PN.del($index)" class="btn btn-danger">delete</button>
                      </div>
                    </div>
                  </div>
                  <button type = "button" class="btn btn-info" ng-click="PN.add()">Add Phone Number</button>
              </td>

		      	</tr>
		      	<tr>
		      		<td>Email address</td>
		      		<td><input type="text" class="form-control" ng-model="newEmailAddress">
								<p id = "errorMessage" style="color:red; display:none " >Invalid Address</p>
							</td>
		      	</tr>
						<tr>
						<div class="checkbox">
					        <label>
					          <input type="checkbox" ng-model="newUserType">  Admin
					        </label>
					  </div>
						</tr>
	      	</table>


    	</div>
	<div class="modal-footer">
				<button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="confirmEditUser()">Update</button>
    </div>
  </div>
</div>
