<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand">{{user.username}}</a>
   </div>

   <div class="navbar-header">
      <a class="navbar-brand" ng-click = "logout()">logout</a>
   </div>
</nav>

<div  class="modal-lg" role="dialog">
    <div class="modal-content">
    	<div class="modal-header">
	        <h4 class="modal-title">Receipt Detail</h4>
    	</div>

    	<div class="modal-body">
	      	<table class="profileTable" style="border-collapse:separate; border-spacing:0px 10px;">

		      	<tr>
		      		<td>ID </td>
		      		<td><input type="text" class="form-control" ng-model="receiptID"  disabled="disabled"></td>
		      	</tr>
		      	<tr>
		      		<td>Time</td>
		      		<td><input type="datetime-local" class="form-control" ng-model="receiptTime" ></td>
		      	</tr>

            <tr>
		      		<td>Location</td>
		      		<td><input type="text" class="form-control" ng-model="receiptLocation" ></td>
		      	</tr>
            <tr>
		      		<td>Project</td>
		      		<td><input type="text" class="form-control" ng-model="receiptProject" ></td>
		      	</tr>

            <tr>
		      		<td><p style="margin-top:-10px;">Shopping List&nbsp;</p></td>

					<td>
					<h5 style = "word-spacing: 140px;">Name Quantity Price</h5>
              			<div class="form-inline" ng-repeat = "item in items track by $index" style="margin-top:10px;">
    	          		<div class="form-group">
                    		<input class="form-control" ng-model="items[$index].name">
  		          		</div>
  		          		<div class="form-group">
    		            	<input  class="form-control" ng-model="items[$index].quantity">
                		</div>
		            	<div class="form-group">
    		            	<input   class="form-control" ng-model="items[$index].price">
                		</div>
                		<div class="form-group">
  		          		<button type="submit" class="btn btn-danger" ng-click="editItem.del($index)">delete</button>
                		</div>
	            		</div>
              		<button type="button" class="btn btn-info" ng-click="editItem.add()" style="margin-top:10px;">Add Item</button>
              		</td>

		      	</tr>
            	<tr>
		      		<td><p style="margin-top:-10px;">Tags &nbsp;</p></td>
		      		<!-- <td>
              	  <div ng-repeat = "tag in tags track by $index">
              	  	<div class="input-group">
                      <input type="text" class="form-control" ng-model="tags[$index]">
                      <div class="input-group-btn">
                      <button ng-click="tag.del(key)" class="btn btn-default">delete</button>
                      </div>
                    </div>
                  </div>
                  <a ng-click="tag.add()">Add Tag</a>
              </td> -->
			  		<td><tags-input ng-model="tags"></tags-input></td>

		      	</tr>
            <tr>
		      		<td><p style="margin-top:-10px;">Note &nbsp;</p></td>

              <td><input type="text" class="form-control" ng-model="receiptNote" ></td>
		      	</tr>
	      	</table>


    	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="confirmEditUser()">Confirm</button>
    </div>
  </div>
</div>
