<nav class="navbar navbar-default" role="navigation">
   <div class=" pull right">
      <button class="navbar-brand"class="btn btn-link navbar-brand" >{{user.username}}</button>

      <a  class=" navbar-brand" href="/logout" >logout</a>

   </div>
   <div class = "pull left">
      <ul class="nav navbar-nav">
         <!-- <li><img ng-src="/photos/{{user.avatarIamage}}" class="img-circle" style = "max-width: 50px"></li> -->
         <li><a href="/#/editUser">Edit my profile</a></li>
         <li><a href="/#/addReceipt">Add receipt</a></li>
         <li><a href="/#/browseMyReceipt">View my receipt</a></li>
         <li><a href="/#/manageMyCategory">Manage my category</a></li>
      </ul>
   </div>

</nav>

<table class="table" >
  <thead>
  <tr>
<th>ID of receipt</th>
<th>Time</th>
<th>Location</th>
<th>Category</th>
<th>Total Account</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="doc in documentsList | filter:{ type:searchByType, abstract: searchByAbstract, title: searchByTitle}">
  <td style="width:10%;" >{{doc.type}}</td>
  <td style="width:20%;" ><a href="{{doc.html_url}}">{{doc.title}}</a>
    <p class=" btn btn-xs btn-primary "><a href="{{doc.pdf_url}}" style="color:#FFF;" >View Entire Article</a></p>
  </td>
  <td >{{doc.abstract}}</td>
  <td  style="text-align:center;" >
    <h4 style="color:#428bca;">{{doc.rank}}</h4>
      <input type="text"   style="width:2em;" id="{{doc.document_number}}">
      <span class=" btn btn-xs btn-primary " ng-click="submitRank(doc.document_number)" >Rank</span>
  </td>

</tr>
</tbody>
</table>
